*~
*.o
*.a
*.efi
*.so
.deps
.build
.dirstamp
\#*#
Makefile
apxh/multiboot/apxh

libec.mk
libec-compile.mk

libhal_x86/hal.mk
libnux/libnux.mk
libnux/libnux-compile.mk
include/config.h

aclocal.m4
autom4te.cache
config.log
config.status
configure
