*~
*.o
*.d
*.a
*.efi
*.so
*.ar50
*.log
.deps
.build
.dirstamp
\#*#
Makefile
apxh/multiboot/apxh
apxh/sbi/apxh
example_multiboot
example/kern/example
example/user/exuser
tools/ar50/ar50
tools/ar50/sq
tools/ar50/unsq
tools/objappend/objappend

/*.mk
hal.mk
plt.mk
libec.mk
libec-compile.mk
libec-include.mk
libnux.mk
libnux-compile.mk
libnux_user.mk
libnux_user-compile.mk
libfdt.mk
libfdt-compile.mk

libnux/cfg.mk

include/config.h

aclocal.m4
autom4te.cache
config.log
config.status
