*~
*.o
*.a
*.efi
*.so
.deps
.build
.dirstamp
\#*#
Makefile
apxh/multiboot/apxh

libnux/cfg.mk
libec.mk
libec-compile.mk
hal.mk
libnux.mk
libnux-compile.mk
include/config.h

aclocal.m4
autom4te.cache
config.log
config.status
configure
