[submodule "contrib/gnu-efi"]
	path = contrib/gnu-efi
	url = https://git.code.sf.net/p/gnu-efi/code
[submodule "contrib/binutils"]
	path = contrib/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "contrib/dtc"]
	path = contrib/dtc
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git/
